@using Borg.Samples.TagHelpers.Controllers
@model Borg.Infrastructure.Core.Collections.IPagedResult<Person>
@{
    ViewData["Title"] = "Home Page";
    Func<bool,string> _checked = (b) => b ? "checked" : string.Empty;
}

    <div class="text-center">
        <h1 class="display-4">Pagination Tag Helper</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@nameof(Person.Id)</th>
                    <th scope="col">@nameof(Person.FirstName)</th>
                    <th scope="col">@nameof(Person.LastName)</th>
                    <th scope="col">@nameof(Person.Birthday)</th>
                    <th scope="col">@nameof(Person.IsBlocked)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                <tr>
                    <th scope="row">@person.Id</th>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Birthday.ToString("d/M/yy")</td>
                    <td><input type="checkbox" @_checked(person.IsBlocked) /></td>
                </tr>

                }
            </tbody>
        </table>
    </div>
