@using Borg.Samples.TagHelpers.Controllers
@model Borg.Infrastructure.Core.Collections.IPagedResult<Person>
@{
    ViewData["Title"] = "Home Page";
    Func<bool, string> _checked = (b) => b ? "checked" : string.Empty;
}

<div class="text-center">
    <h1 class="display-4">Pagination Tag Helper</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@nameof(Person.Id)</th>
                <th scope="col">@nameof(Person.FirstName)</th>
                <th scope="col">@nameof(Person.LastName)</th>
                <th scope="col">@nameof(Person.Birthday)</th>
                <th scope="col">@nameof(Person.IsBlocked)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr>
                    <th scope="row">@person.Id</th>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Birthday.ToString("d/M/yy")</td>
                    <td><input type="checkbox" @_checked(person.IsBlocked) /></td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div>
    <pagination borg-model="Model" borg-behaviour-override-settings="false"
                borg-behaviour="new Borg.Framework.MVC.Features.HtmlPager.PaginationConfigurationBehaviour
                    {
                        ActiveItemClassOperation = Borg.Framework.MVC.Features.HtmlPager.ActiveItemClassOperation.UnavailableClass,
                        ChunkCount = 5,
                        DisplayItemSliceAndTotal = false,
                        DisplayLinkToIndividualPages = true,
                        DisplayLinkToNextPage = true,
                        DisplayLinkToPreviousPage = true,
                        PagerInChunks = true,
                        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                        DisplayPageCountAndCurrentLocation = true,
                    }"></pagination>
    <pagination borg-model="Model" borg-behaviour-style="DefaultPlusFirstAndLast" borg-behaviour-override-settings="false"></pagination>
    <pagination borg-model="Model" borg-behaviour-style="DefaultPlusFirstAndLast"></pagination>
    <pagination borg-model="Model" borg-behaviour-style="PagerInChucks"></pagination>
    <pagination borg-model="Model" borg-behaviour-style="DefaultPager"></pagination>
    <pagination borg-model="Model" borg-behaviour-style="MinimalWithPages"></pagination>
    <pagination borg-model="Model" borg-behaviour-style="MinimalWithItemCountText"></pagination>
    <pagination borg-model="Model" borg-behaviour-style="DefaultPlusFirstAndLast" borg-behaviour-override-settings="true"></pagination>
</div> 